---
layout: default
title: Home
---

{% if page.url == "/" %}


  <!-- HTML Meta Tags -->
  <title>Home</title>
  <meta name="description" content="Uniting Security Professionals to Combat Hackers with Code">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://codearsenalcommunity.github.io">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Code Arsenal - Uniting Security Professionals to Combat Hackers with Code">
  <meta property="og:description" content="At Code Arsenal, we believe that by sharing detailed fixes for security vulnerabilities in various programming languages and discussing different approaches, we can empower programmers to better understand the mindset of hackers and security engineers. Through this understanding, they can effectively work on fixing critical security bugs and preventing them in the future.">
  <meta property="og:image" content="https://i.imgur.com/exYg6la.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="codearsenalcommunity.github.io">
  <meta property="twitter:url" content="https://codearsenalcommunity.github.io">
  <meta name="twitter:title" content="Home">
  <meta name="twitter:description" content="At Code Arsenal, we believe that by sharing detailed fixes for security vulnerabilities in various programming languages and discussing different approaches, we can empower programmers to better understand the mindset of hackers and security engineers. Through this understanding, they can effectively work on fixing critical security bugs and preventing them in the future.">
  <meta name="twitter:image" content="https://i.imgur.com/exYg6la.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        
<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured Writeups</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Latest Writeups</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

